<section ng-controller="GradesController" ng-init="init()">
  <div class="page-header">
    <h1>New Grade</h1>
  </div>
  <div class="col-md-12">
    <form name="gradeForm" class="form-horizontal"  ng-submit="create(gradeForm.$valid)" novalidate>
      <fieldset>
        <div class="form-group" show-errors>
          <label for="name">Title</label>
          <input name="name" type="text" ng-model="name" id="grade_name" class="form-control" placeholder="Name" required>
          <div ng-messages="gradeForm.name.$error" role="alert">
            <p class="help-block error-text" ng-message="required">Grade name is required.</p>
          </div>
        </div>
        <div class="form-group">
          <label for="code">Code</label>
          <input name="code" type="text" ng-model="code" id="grade_code" class="form-control" placeholder="Code" required>
          <div ng-messages="gradeForm.code.$error" role="alert">
            <p class="help-block error-text" ng-message="required">Grade code is required.</p>
          </div>
        </div>
        <div class="form-group">
          <label for="Standard">Standard</label>
          <input name="Standard" type="text" ng-model="standard" id="grade_standard" class="form-control" placeholder="Standard" required>
          <div ng-messages="gradeForm.code.$error" role="alert">
            <p class="help-block error-text" ng-message="required">Grade standard is required.</p>
          </div>
        </div>
        <div class="form-group">
          <label for="academicId" class="">Academics</label>
            <div class="dropdown" id="dropdownMenu2">
              <button class="btn btn-primary dropdown-toggle"
                      data-toggle="dropdown">
                <span id="dropdown_title2">{{selectedAcademic}}</span>
                <span class="caret"></span>
              </button>
              <ul class="dropdown-menu" >
                <li ng-repeat="academic in academics"><a tabindex="-1" href="#" ng-click="selectAcademic(academic)">{{academic.name}}</a></li>
              </ul>
            </div>
        </div>

        <div class="form-group">
          <input type="submit" class="btn btn-default">
        </div>
        <div ng-show="error" class="text-danger">
          <strong ng-bind="error"></strong>
        </div>
      </fieldset>
    </form>
  </div>
</section>
