<section ng-controller="SkillsController" ng-init="findOne()">
  <div class="page-header">
    <h1 ng-bind="skill.name"></h1>
  </div>
  <div class="pull-right">
    <a class="btn btn-primary" ui-sref="skills.edit({skillId: skill._id})">
      <i class="glyphicon glyphicon-edit"></i>
    </a>
    <a class="btn btn-primary" ng-click="remove();">
      <i class="glyphicon glyphicon-trash"></i>
    </a>
  </div>
  <small>
    <em class="text-muted">
      Code
      <span ng-bind="skill.code"></span>
    </em>
  </small>
</section>
