<section ng-controller="TopicsController" ng-init="findOne()">
  <div class="page-header">
    <h1>Edit Topic</h1>
  </div>
  <div class="col-md-12">
    <form name="topicForm" class="form-horizontal" ng-submit="update(topicForm.$valid)" novalidate>
      <fieldset>
        <div class="form-group">
          <label for="gradeId" class="">Grade</label>
          <div class="dropdown" id="dropdownMenu1">
            <button class="btn btn-primary dropdown-toggle"
                    data-toggle="dropdown">
              <span id="dropdown_title1">{{selectedGrade}}</span>
              <span class="caret"></span>
            </button>
            <ul class="dropdown-menu" >
              <li ng-repeat="grade in grades"><a tabindex="-1" href="#" ng-click="selectGrade(grade)">{{grade.name}}</a></li>
            </ul>
          </div>
        </div>
        <div class="form-group">
          <label for="subjectId" class="">Subject</label>
          <div class="dropdown" id="dropdownMenu2">
            <button class="btn btn-primary dropdown-toggle"
                    data-toggle="dropdown">
              <span id="dropdown_title2">{{selectedSubject}}</span>
              <span class="caret"></span>
            </button>
            <ul class="dropdown-menu" >
              <li ng-repeat="subject in subjects"><a tabindex="-1" href="#" ng-click="selectSubject(subject)">{{subject.name}}</a></li>
            </ul>
          </div>
        </div>
        <div class="form-group" show-errors>
          <label for="name">Name</label>
          <input name="name" type="text" ng-model="topic.name" id="topic_name" class="form-control" placeholder="Name" required>
          <div ng-messages="topicForm.name.$error" role="alert">
            <p class="help-block error-text" ng-message="required">Topic name is required.</p>
          </div>
        </div>
        <div class="form-group">
          <label for="code">Code</label>
          <input name="code" type="text" ng-model="topic.code" id="topic_code" class="form-control" placeholder="Code" required>
          <div ng-messages="topicForm.code.$error" role="alert">
            <p class="help-block error-text" ng-message="required">Topic code is required.</p>
          </div>
        </div>

        <div class="form-group">
          <input type="submit" value="Update" class="btn btn-default">
        </div>
        <div ng-show="error" class="text-danger">
          <strong ng-bind="error"></strong>
        </div>
      </fieldset>
    </form>
  </div>
</section>
